.timeIntervalControls {
  background-color: inherit;

  .period-of-time {
    div.label {
      span {
      }
    }

    div {
      * {
        padding: 0;
      }
    }
  }

  div {
    // border: 1px solid black;
    // padding: 5px;
    div {
      button {
        // height: 30px;
      }

      button:first-child {
        text-align: right;
      }

      button:last-child {
        text-align: left;
      }
    }
  }
}
