.timeIntervalControls {
  background-color: inherit;
  border-radius: 50%;

  .period-of-time {
    div.label {
      span {
      }
    }

    div {
      * {
        padding: 0;
      }
    }
  }

  div {
    // border: 1px solid black;
    // padding: 5px;
    div {
      button {
        // height: 30px;
      }

      button:first-child {
        text-align: right;
      }

      button:last-child {
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .timeIntervalControls {
    div {
      div {
        button:first-child {
          text-align: center;
        }

        button:last-child {
          text-align: center;
        }
      }
    }
  }
}
